<html>
	<head>
		<title>Mot de passe oublié</title>
		<link rel="stylesheet" type="text/css" href="/css/lostPassword.css">
	</head>
	<body>
		<div class='container'>
			<h1>Mot de passe oublié</h1>
			<form method='post' action='/resetPassword'>
				<label>Adresse mail
					<input type='email' name='emailAddress' placeholder='Adresse mail'>
				</label>
				<input type='submit' value='Valider'>
			</form>
		</div>
	</body>
</html>