<html>
	<head>
		<title>Mot de passe oublié</title>
		<link rel="stylesheet" type="text/css" href="webroot/css/lostPassword.css">
	</head>
	<body>
		<div class='container'>
			<h1>Mot de passe oublié</h1>
			<p>Saisissez l'adresse e-mail associée à votre compte Payetonpark puis cliquez sur "Valider".
			Vous recevrez un e-mail vous permettant de réinitialiser votre mot de passe.</p>
			<form method='post' action='/resetPassword'>
					<input type='email' name='emailAddress' placeholder='Adresse mail'>
				</label>
				<input type='submit' value='Valider'>
			</form>
		</div>
	</body>
</html>