<html>
	<head>
		<title>Mes informations</title>
		<link rel="stylesheet" type="text/css" href="/css/myInformations.css">
	</head>
	<body>
		<div class='container'>
			<h1>Mes informations</h1>
			<%= infos %>

		</div>
	</body>
</html>