<!doctype html>
<html>
	<head>
		<title>Ajouter une voiture</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/addCar.css">
		<link rel="stylesheet" type="text/css" href="/webroot/css/header.css">
	</head>
	<body>
		<%- include ../home/header.ejs %>
		<div id="bienvenu">Ajouter une voiture</div>
		<div class='container'>
			<form method='post' action='/addCar' enctype="multipart/form-data">
				<div id="rectangle">
					<div id="sup"><label>Nom de la voiture</label></div>
					<div id="inf"><input type='type' name='name' placeholder='Nom de la voiture'></div>
				</div>

				<div id="rectangle">
					<div id="sup"><label>Plaque d'immatriculation</label></div>
					<div id="inf"><input type='text' name='id' placeholder="Plaque d'immatriculation"></div>
				</div>

				<div id="rectangle">
					<div id="sup"><label>Carte grise</label></div>
					<div id="inf"><input type='file' name='registrationFile'></div>
				</div>

				<p style="text-align: center; font-size: 20px;">Facultatif</p>
				<div id="rectangle">
					<div id="sup"><label>Photo de la voiture</label></div>
					<div id="inf"><input type='file' name='photo'></div>
				</div>
				<input type='submit' value='Valider'>
			</form>
		</div>
		<script type="text/javascript" src='/webroot/js/jquery.js'></script>
		<script type="text/javascript" src='/webroot/js/addCar.js'></script>
	</body>
</html>