<!doctype html>
<html>
	<head>
		<title>Mes voitures</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/myCars.css">
	</head>
	<body>
		<div class='container'>
			<h1>Mes voitures</h1>
			<img style='width: 300px;' <%= "src=/webroot/images/"+registrationPlate+"/photo.jpg" %> >
			<%= name %>  <%= registrationPlate %>
		</div>
		<script type="text/javascript" src='/webroot/js/jquery.js'></script>
		<script type="text/javascript" src='/webroot/js/addCar.js'></script>
	</body>
</html>