<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Connexion</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/connexion.css">
	</head>
	<body>
		<div class='container'>
			<h1>Connexion</h1>
			<form id='connexionForm' method='post' action='/connexion'>
					<input type='email' name='emailAddress' placeholder='Adresse mail'>
					<input type='password' name='password' placeholder='Mot de passe'>
				<input type='submit' value='Connexion'>
			</form>
			<a href='/lostPassword'>Mot de passe oublié</a>
			<a href='/inscription'><input type='button' value='Inscription'></a>
		</div>
		<script type="text/javascript" src='/webroot/js/jquery.js'></script>
		<script type="text/javascript" src='/webroot/js/connexion.js'></script>
	</body>
</html>