body{
	background: rgb(233, 244, 244);
	margin: 0;
}


#bienvenu{
  background-color: #3498DB;
  height: 60px;
  line-height: 60px;
  width: 500px;
  font-size: 35px;
  font-weight: bold;
  font-family: Helvetica;
  border: 2px solid rgb(0, 157, 255);
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 80px;  
}

.container{
  width: 550px;
  padding-top: 5px;
  padding-bottom: 25px;
  background: white;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

form{
  padding: 15px;
  margin: 0;
  font-family: Helvetica;
}

input{
  margin: auto;
  width: 250px;
  display: block;
  font-size: 15px;
  margin-top: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  border: 1px solid #CECECE;
  border-radius: 4px;
}

#rectangle{
  position: relative;
  margin: 0 auto;
  display: inline-block;
}

#sup{
  width: 200px;
  text-align: right;
    display: inline-block;
    padding-right: 6px;
}

#inf{
  width: 300px;
    display: inline-block;
}

input[type="submit"]{
  cursor: pointer;
  background-color: #3498DB;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 40px;
}

input[type="submit"]:hover{
	background-color: #2980B9;
}