#header{
  background: rgb(0, 157, 255);
	height: 60px;
	margin-bottom: 20px;
}

#header_left{
	display: inline;
}

#header_right{
	display: inline-block;
	float: right;
  color: white;
	padding-top: 20px;
	padding-right: 10px;
}