body {
	background: rgb(233, 244, 244);
  margin: 0;
}
#bienvenu{
  background-color: #3498DB;
  height: 60px;
  line-height: 60px;
  width: 500px;
  font-size: 35px;
  font-weight: bold;
  font-family: Helvetica;
  border: 2px solid rgb(0, 157, 255);
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 80px;  
}

#fonctions{
  position: relative;
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.bigButton{
  width: 200px;
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  border: 2px solid #2980B9;
  font-size: 20px;
  font-weight: bold;
  border-radius: 9px;
  padding: 10px;
  text-align: center;
  background: white;
  text-decoration: none;
  line-height: 50px;
  color: #2980B9;
}

.bigButton:hover{
  background: #ECF0F1;
  color: #3498DB;
}

#mesVoitures{
  margin-left: 50px;
}
#monCompte p{
  text-decoration: none;
  color: grey;
}

#demarrer{
  position: relative;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 100px;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  border-radius: 9px;
  color: white;
  text-align: center;
  line-height: 40px;
  padding: 20px;
  text-decoration: none;
  display: block;
}

#demarrer[isParked="false"]{
  background-color: #2ECC71;
}
#demarrer[isParked="false"]:hover{
  background-color: #27AE60;
}

#demarrer[isParked="true"]{
  background-color: #E74C3C;
}
#demarrer[isParked="true"]:hover{
  background-color: #C0392B;
}