body{
	background: #3498DB;
}
.container{
	width: 450px;
	height: 580px;
	margin: auto;
	background-color: #edeff1;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 10px;

	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
h1{
	color: #3498DB;
	text-align: center;
}
input{
	margin: auto;
	width: 250px;
	display: block;
	font-size: 15px;
	margin-top: 10px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	border: 1px solid #CECECE;
	border-radius: 7px;
}

input[type='submit']{
	background-color: #3498DB;
	color: white;
	border-radius: 6px;
	width: 260px;
	height: 40px;
	padding: 6px;
	display: block;
	cursor: pointer;
	clear: both;
	margin-top: 30px;
}
input[type='submit']:hover{
	background-color: #2980B9;
}

label{
	display: block;
	margin: auto;
	width: 350px;
}
a{
	color: rgb(0, 157, 255);
	display: block;
	text-align: center;
	margin: auto;
	cursor: pointer;
	width: 150px;
}