		<html>
		<head>
		<link rel="stylesheet" type="text/css" href="/webroot/css/header.css">
		</head>
		<body>
		<div id="header">
			<div id="header_left">
				<img style='width: 80px;' src='/webroot/images/859AA966/king.jpeg' >
			</div>
			<div id="header_right">
			Bonjour <%= firstName %> <%=lastName %>
			<a href='/deconnexion'><span>Déconnexion</span></a>
			</div>

		</div>
		</body>
		</html>