<div id="header">
	<div id="header_left">
		<img style='width: 80px;' src='/webroot/images/king.jpeg' >
	</div>
	<div id="header_right">
	Bonjour <%= firstName %> <%=lastName %>
	<a href='/deconnexion'><span>Déconnexion</span></a>
	</div>
</div>