<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/home.css">
	</head>
	<body>
		<%- include header.ejs %>  
			<div id="bienvenu">
				Bienvenue sur Payetonpark
			</div>
			<div id="fonctions">
				<div id="monCompte" onclick="location.href='/myInformations';">
					<p>Mon compte</p>
				</div>
				<div id="mesVoitures" onclick="location.href='/myCars';">
					<p>Gérer mes voitures</p>
				</div>
			</div>
			<div id="demarrer" onclick="location.href='/chooseCar';" isParked=<%= isParked %>>
				<p><%= isParked?'Arrêter' : 'Démarrer' %></p>
			</div>

	</body>
</html>