<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/home.css">
	</head>
	<body>
		<div id="header">
			<div id="header_left">Home</div>
			<div id="header_right">Bonjour <%= firstName %> <%=lastName %></div>
		</div>
			<div id="cssmenu">
				<ul>
					<li class='active'><a href='/myInformations'><span>Mes informations</span></a></li>
					<li><a href='/myCars'><span>Gérer mes voitures</span></a></li>
					<li class='last'><a href='/start'><span>Démarrer</span></a></li>
				</ul>
			</div>
	</body>
</html>