<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/home.css">
	</head>
	<body>
		<h1>Home</h1>
		<p>Bonjour <%= firstName %> <%=lastName %></p>
		<a href='/myAccount'>Mon compte</a>
		<a href='/myCars'>Gérer mes voitures</a>
		<a href='/start'>Démarrer</a>
	</body>
</html>