<!doctype html>
<html>
	<head>
		<title>Inscription</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/inscription.css">
	</head>
	<body>
		<div class='container'>
			<h1>Inscription</h1>
			<form id='inscriptionForm' method='post' action='/inscription'>
				
					<input type='email' name='emailAddress' placeholder='Adresse mail'>
					<input type='text' name='lastName' placeholder='Nom'>
					<input type='text' name='firstName' placeholder='Prénom'>
					<input type='text' name='address' placeholder='Adresse postale'>
					<input type='v' name='zipCode' placeholder='Code postal'>
					<input type='text' name='phone' placeholder='Numéro de téléphone'>
					<input type='password' name='password' placeholder='Mot de passe'>
					<input id='checkPassword' type='password' placeholder='Vérification du mot de passe'>
				<input type='submit' value='Valider'>
			</form>
		</div>
		<script type="text/javascript" src='/webroot/js/jquery.js'></script>
		<script type="text/javascript" src='/webroot/js/inscription.js'></script>
	</body>
</html>