<!doctype html>
<html>
	<head>
		<title>Choix de la location</title>
		<link rel="stylesheet" type="text/css" href="/webroot/css/chooseLocation.css">
		<link rel="stylesheet" type="text/css" href="/webroot/css/header.css">
	</head>
	<body>
		<%- include ../home/header.ejs %>
		<div class='container'>
			<form method='post' action='/start'>
				<div id="bienvenu">Choix de la position</div>
				<div id='map-canvas'></div>
				<input type='hidden' name='locationX'>
				<input type='hidden' name='locationY'>
				<input type='hidden' name='id' value=<%= car_id %>>
				<p>ou</p>
				<input type='text' name='code' placeholder='Code de la borne'>
				<input type='submit' value='valider'>
			</form>
		</div>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src='webroot/js/chooseLocation.js'></script>
	</body>
</html>